<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<form action="/list" method="POST">

    <select name="name">
        <option th:value="Everyone" th:text="Everyone"></option>
        <option th:value="Bahdan" th:text="Bahdan"></option>
        <option th:value="Junya" th:text="Junya"></option>
        <option th:value="nzar" th:text="nzar"></option>
    </select>

    <select name="opponent">
        <option th:value="Everyone" th:text="Everyone"></option>
        <option th:value="Bahdan" th:text="Bahdan"></option>
        <option th:value="Junya" th:text="Junya"></option>
        <option th:value="nzar" th:text="nzar"></option>
    </select>

    <select name="winOrLose">
        <option th:value="Everything" th:text="Everything"></option>
        <option th:value="W" th:text="W"></option>
        <option th:value="L" th:text="L"></option>
    </select>

    <br>
    <a>do you need date?</a>

    <input type="radio" name="isDate" value="true" >
    <a>yes</a>
    <input type="radio" name="isDate" value="false">
    <a>no</a>
    <input type="radio" name="isSecondDate" value="yes">
    <a>Use Second Date?</a>
    <input type="date" name="date" placeholder="date">

    <input type="date" name="secondDate" placeholder="date">

    <input type="submit" value="Submit">
</form>

</body>
</html>